 

.intro {
    display: block;
}
#profile {
    display: block;
    object-fit: cover;
    max-height: calc(100vh - 112px);
    min-height: calc(100vh - 112px);
    width: 100%;
    height: auto;

}

.contacts {
    display: block;
}

#head-shot {
    display: block; 
    border-radius: 100%;
    max-width: 400px;
    width: 100%;
    height: auto;
    margin: auto;

}
